body {
    background-color: #ffcd67;
}
label {
    font-weight: bold;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.italic {
    font-style: italic;
}
.film-block-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.film-block-text label{
    margin: 0;
}
